
<div class="carousel slide" id="hero" style="position: absolute;">
   <div class="carousel-inner" style="z-index: -1">
      <div class="active item">
         <img src="imgs/clinicj.png">
      </div>
   </div>
</div>
<div class="jumbotron main masthead" style="text-shadow: none;">
   <div class="container">
      <h1>docAPPT</h1>
      <p>A new way for the paitent to save time<br> with a large variaty of options anytime and anywhere.</p>

      <div id="suggestion" style="text-align: center;">
        <input id="location-1" type="text" class="form-control typeahead" placeholder="Search Clinics via Name, Zip Code, Address, etc" data-provide="typeahead" autocomplete="off">
      </div>

   </div>
</div>
<div class="bs-docs-social">
   <div class="container">
      <ul class="bs-docs-social-buttons">
         <li>Latest Announcements:</li>
         <li>
            <a data-placement="bottom" href="/" rel="tooltip" title="" data-original-title="Created 1 day ago">Alpha Soon!</a>
         </li>
      </ul>
   </div>
</div>
<div class="container">
   <div class="flash" style="margin-top: 20px;"></div>
   <script>$(function(){$('#hero').carousel('cycle')});</script>
   <div class="row marketing">
      <div class="col-md-4">
         <img src="imgs/phones.png">
         <h2>Mobile</h2>
         <p>After he ascended the throne of the island of Crete, Minos competed with his brothers to rule. Minos prayed to Poseidon, the sea god, to send him a snow-white bull, as a sign of support (the Cretan Bull).</p>
         <p>
            <a class="btn btn-default" href="/maps">Download</a>
         </p>
      </div>
      <div class="col-md-4">
         <img src="imgs/speed.png">
         <h2>Fast </h2>
         <p>After he ascended the throne of the island of Crete, Minos competed with his brothers to rule. Minos prayed to Poseidon, the sea god, to send him a snow-white bull, as a sign of support (the Cretan Bull).</p>
         <p>
            <a class="btn btn-default" href="/stats">Check the Stats</a><br><br>
         </p>
      </div>
      <div class="col-md-4">
         <img src="imgs/trust.png">
         <h2>Reliability</h2>
         <p>After he ascended the throne of the island of Crete, Minos competed with his brothers to rule. Minos prayed to Poseidon, the sea god, to send him a snow-white bull, as a sign of support (the Cretan Bull).</p>
         <p>
            <a class="btn btn-default" href="/play">User Feedback</a>
         </p>
      </div>
   </div>

  </div>
  </div>
</div>
</div>

<script>
  function sug(response){
    console.log(response);
  };

  (function(document, jQuery){

    var source = new Bloodhound({
      datumTokenizer: Bloodhound.tokenizers.obj.whitespace('value'),
      queryTokenizer: Bloodhound.tokenizers.whitespace,
      identify: function(obj) { console.log(obj); return obj.name; },
      remote: {
        url: '/api/v1/autocomplete/clinic?query=%QUERY',
        wildcard: '%QUERY'
      }
    });

    console.log(source);

    jQuery(document).ready(function(){

      jQuery('#suggestion .typeahead').typeahead({
        hint: true,
        highlight: true,
        minLength: 2
      }, {
        name: 'muse-suggesions',
        display: 'value',
        source: source,
        limit: 15,
        templates: {
          empty: [].join('\n'),
          suggestion: Handlebars.compile('<div>{{name}}</div>')
        }
      });

      jQuery('#suggestion .typeahead').bind('typeahead:select', function(ev, suggestion) {
        console.log('Selection Object: ', suggestion);
        console.log('Email: ', suggestion.email);
        console.log('Id: ', suggestion.id);
        window.location = "#/clinic/" + suggestion._id;
      });
    });


  }(document, jQuery));

</script>

<script>

/*
$('#navbar').css('background-color', 'transparent');
$('#navbar').css('border-color', 'transparent');

 $(window).scroll(function() {
   if($(this).scrollTop() > 75)
   {
     $('#navbar').css('background-color', '#64B5F6');
     $('#navbar').css('border-color', '#64B5F6');
   } else {
     $('#navbar').css('background-color', 'transparent');
     $('#navbar').css('border-color', 'transparent');
   }
 });
*/

</script>
