
<div class="carousel slide" id="hero" style="position: absolute;">
   <div class="carousel-inner" style="z-index: -1">
      <div class="active item">
         <img src="imgs/clinicj.png">
      </div>
   </div>
</div>
<div class="jumbotron main masthead" style="text-shadow: none;">
   <div class="container">
      <h1>docAPPT</h1>
      <p>A new way for the paitent to save time<br> with a large variaty of options anytime and anywhere.</p>

      <div class="container">
       <div class="row">
         <a class="btn btn-primary btn-lg btn-success" href="/shutdown">Get Started »</a>
        </div>
       </div>

   </div>
</div>

<form ng-submit="homeSearch()">
<div class="bs-docs-social">
   <div class="container">
     <div class="col-md-12">
              <div class="input-group" id="adv-search" >
                  <input type="text" class="form-control" role="group" ng-model="zipCode" placeholder="Search via Zip Code (Ex. 08558)" />
                  <div class="input-group-btn">
                      <div class="btn-group" role="group">
                          <div class="dropdown dropdown-lg clearfix">
                              <button type="button" style="height: 34px;" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></button>
                              <div class="dropdown-menu dropdown-menu-right" style="overflow: visible; padding-bottom: 10px;" role="menu">
                                    <div class="form-group">
                                      <label for="filter">Specialty</label>
                                      <select class="form-control" ng-model="specialty">
                                        <option value="">Any</option>
                                        <option value="193">Adult Medicine</option>
                                        <option value="198">Adult Nurse Practitioner</option>
                                        <option value="40">Adult Strabismus</option>
                                        <option value="205">Advanced Heart Failure</option>
                                        <option value="74">Allergy</option>
                                        <option value="179">Anatomic Pathology</option>
                                        <option value="32">Anesthesiology</option>
                                        <option value="183">Antiaging Medicine</option>
                                        <option value="135">Bariatric Surgery</option>
                                        <option value="206">Breast Imaging</option>
                                        <option value="194">Breast Surgery</option>
                                        <option value="139">Burn Surgery</option>
                                        <option value="52">Cardiology/Cardiovascular Disease</option>
                                        <option value="167">Cardiovascular Surgery</option>
                                        <option value="8">Cardiovascular/Thoracic Surgery</option>
                                        <option value="182">Cataract and Lasik Surgery</option>
                                        <option value="41">Child &amp; Adolescent Psychiatry</option>
                                        <option value="180">Clinical Pathology</option>
                                        <option value="7">Colon &amp; Rectal Surgery</option>
                                        <option value="136">Cosmetic Surgery</option>
                                        <option value="187">Craniofacial Surgery</option>
                                        <option value="99">Critical Care</option>
                                        <option value="181">Cytopathology</option>
                                        <option value="46">Dentist</option>
                                        <option value="169">Dentistry and Oral Surgery</option>
                                        <option value="43">Dermatology</option>
                                        <option value="172">Dermatopathology</option>
                                        <option value="176">Developmental-Behavioral Pediatrics</option>
                                        <option value="95">Diagnostic Radiology</option>
                                        <option value="184">Electrophysiology</option>
                                        <option value="57">Emergency Medicine</option>
                                        <option value="25">Endocrinology</option>
                                        <option value="203">Endovascular Surgery</option>
                                        <option value="20">Environmental Medicine</option>
                                        <option value="208">Facial Plastic Surgery</option>
                                        <option value="71">Family Medicine</option>
                                        <option value="197">Family Nurse Practitioner</option>
                                        <option value="92">Foot &amp; Ankle Surgery</option>
                                        <option value="28">Gastroenterology</option>
                                        <option value="79">General Dentistry</option>
                                        <option value="152">General Practice</option>
                                        <option value="16">General Surgery</option>
                                        <option value="66">Geriatric Psychiatry</option>
                                        <option value="78">Geriatrics</option>
                                        <option value="215">Gynecology</option>
                                        <option value="12">Gynecology only (no OB)</option>
                                        <option value="68">Hand Surgery</option>
                                        <option value="76">Head and Neck Surgery</option>
                                        <option value="84">Hematology</option>
                                        <option value="166">Hematology/Oncology</option>
                                        <option value="34">Hepatology</option>
                                        <option value="77">Immunology</option>
                                        <option value="2">Infectious Disease</option>
                                        <option value="110">Infertility</option>
                                        <option value="26">Internal Medicine</option>
                                        <option value="14">Internal Medicine/Pediatrics</option>
                                        <option value="36">Interventional Cardiology</option>
                                        <option value="47">Interventional Neuroradiology</option>
                                        <option value="59">Interventional Radiology</option>
                                        <option value="204">Invasive Cardiology</option>
                                        <option value="199">Joint Replacement</option>
                                        <option value="214">Licensed Alcohol and Dru</option>
                                      </select>
                                    </div>
                                    <br><br>
                                    <div class="form-group">
                                      <input class="form-control" ng-model="distance" placeholder="Distance (miles) / Default 15 miles" type="text" />
                                    </div>
                                    <br><br>
                                    <div class="form-group">
                                      <input ng-model="date" class="form-control" placeholder="Date" type="text" />
                                    </div>
                                    <br><br>

                              </div>
                          </div>
                          <button type="submit" type="button" style="width: 100%;"class="btn btn-primary">
                            <i class="fa fa-search" aria-hidden="true"></i>
                            Search
                          </button>
                      </div>
                  </div>
              </div>
            </form>
            </div>
   </div>
</div>
<div class="container">
   <div class="flash" style="margin-top: 20px;"></div>
   <script>$(function(){$('#hero').carousel('cycle')});</script>
   <div class="row marketing">
      <div class="col-md-4">
         <img src="imgs/phones.png">
         <h2>Mobile</h2>
         <p>After he ascended the throne of the island of Crete, Minos competed with his brothers to rule. Minos prayed to Poseidon, the sea god, to send him a snow-white bull, as a sign of support (the Cretan Bull).</p>
         <p>
            <a class="btn btn-default" href="/maps">Download</a>
         </p>
      </div>
      <div class="col-md-4">
         <img src="imgs/speed.png">
         <h2>Fast </h2>
         <p>After he ascended the throne of the island of Crete, Minos competed with his brothers to rule. Minos prayed to Poseidon, the sea god, to send him a snow-white bull, as a sign of support (the Cretan Bull).</p>
         <p>
            <a class="btn btn-default" href="/stats">Check the Stats</a><br><br>
         </p>
      </div>
      <div class="col-md-4">
         <img src="imgs/trust.png">
         <h2>Reliability</h2>
         <p>After he ascended the throne of the island of Crete, Minos competed with his brothers to rule. Minos prayed to Poseidon, the sea god, to send him a snow-white bull, as a sign of support (the Cretan Bull).</p>
         <p>
            <a class="btn btn-default" href="/play">User Feedback</a>
         </p>
      </div>
   </div>

   </div>

  </div>
  </div>
</div>
</div>

<script>
  function sug(response){
    console.log(response);
  };

  (function(document, jQuery){

    var source = new Bloodhound({
      datumTokenizer: Bloodhound.tokenizers.obj.whitespace('value'),
      queryTokenizer: Bloodhound.tokenizers.whitespace,
      identify: function(obj) { console.log(obj); return obj.name; },
      remote: {
        url: '/api/v1/autocomplete/clinic?query=%QUERY',
        wildcard: '%QUERY'
      }
    });

    console.log(source);

    jQuery(document).ready(function(){

      jQuery('#suggestion .typeahead').typeahead({
        hint: true,
        highlight: true,
        minLength: 2
      }, {
        name: 'muse-suggesions',
        display: 'value',
        source: source,
        limit: 15,
        templates: {
          empty: [].join('\n'),
          suggestion: Handlebars.compile('<div>{{name}}</div>')
        }
      });

      jQuery('#suggestion .typeahead').bind('typeahead:select', function(ev, suggestion) {
        console.log('Selection Object: ', suggestion);
        console.log('Email: ', suggestion.email);
        console.log('Id: ', suggestion.id);
        window.location = "#/clinic/" + suggestion._id;
      });
    });


  }(document, jQuery));

</script>

<script>

/*
$('#navbar').css('background-color', 'transparent');
$('#navbar').css('border-color', 'transparent');

 $(window).scroll(function() {
   if($(this).scrollTop() > 75)
   {
     $('#navbar').css('background-color', '#64B5F6');
     $('#navbar').css('border-color', '#64B5F6');
   } else {
     $('#navbar').css('background-color', 'transparent');
     $('#navbar').css('border-color', 'transparent');
   }
 });
*/

</script>
